In [1]:
# Imports
from tira.third_party_integrations import ensure_pyterrier_is_loaded, persist_and_normalize_run
from tira.rest_api_client import Client
import pyterrier as pt

In [2]:
# Create a REST client to the TIRA platform for retrieving the pre-indexed data.
ensure_pyterrier_is_loaded()
tira = Client()

PyTerrier 0.10.0 has loaded Terrier 5.8 (built by craigm on 2023-11-01 18:05) and terrier-helper 0.0.8

No etc/terrier.properties, using terrier.default.properties for bootstrap configuration.

In [3]:
# The dataset: the union of the IR Anthology and the ACL Anthology
# This line creates an IRDSDataset object and registers it under the name provided as an argument.
pt_dataset = pt.get_dataset('irds:ir-lab-sose-2024/ir-acl-anthology-20240504-training')

In [4]:
# run file von Basic BM25 ohne QE
bm25 = pt.io.read_results('../runs/runBasicQuery.txt')
bm25QE = pt.io.read_results('../runs/run.txt')

pt.Experiment(
    [bm25, bm25QE],
    pt_dataset.get_topics(),
    pt_dataset.get_qrels(),
    ["ndcg_cut.10", "recip_rank", "recall_1000", "P"],
    names=["BM25", "BM25QE"]
)

There are multiple query fields available: ('text', 'title', 'query', 'description', 'narrative'). To use with pyterrier, provide variant or modify dataframe to add query column.

,name,ndcg_cut.10,recip_rank,recall_1000,P@5,P@10,P@15,P@20,P@30,P@100,P@200,P@500,P@1000
0,BM25,0.374041,0.579877,0.825376,0.376471,0.332353,0.311765,0.270588,0.219608,0.108382,0.063676,0.029941,0.016191
1,BM25QE,0.241221,0.385710,0.825376,0.235294,0.214706,0.192157,0.167647,0.137255,0.078971,0.051250,0.027294,0.016191